CREATE DATABASE IF NOT EXISTS fit360;
USE fit360;

CREATE TABLE IF NOT EXISTS usuario (
    id_usuario INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(100),
    apellidos VARCHAR(150),
    email VARCHAR(150) UNIQUE,
    contrasena VARCHAR(255),
    fecha_registro DATE,
    rol VARCHAR(50),
    id_gimnasio INT
);
